.fade-enter {
  opacity: 0; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 0; }

.fade-exit-active {
  opacity: 1;
  transition: opacity 450ms ease-in; }

span {
  color: #F86534; }

a {
  color: #fff; }
  a:focus, a:hover {
    color: #fff; }

/* Custom default button */
.btn-default {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff; }
  .btn-default:hover, .btn-default:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff; }

/*
 * Base structure
 */
html {
  height: auto;
  background-color: #333; }

body {
  background-color: #333;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  height: auto; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100vw;
  height: auto;
  /* For at least Firefox */
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  z-index: 0; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

/* Padding for spacing */
/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px; }

.masthead-nav > li {
  display: inline-block; }
  .masthead-nav > li + li {
    margin-left: 20px; }
  .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    color: #fff;
    /* IE8 proofing */
    color: rgba(255, 255, 255, 0.75);
    border-bottom: 2px solid transparent; }
    .masthead-nav > li > a:hover, .masthead-nav > li > a:focus {
      border-bottom-color: #a9a9a9;
      border-bottom-color: rgba(255, 255, 255, 0.25);
      font-family: 'Julius Sans One', sans-serif; }

@media (min-width: 768px) {
  .masthead-brand {
    float: left; }

  .masthead-nav {
    float: right; } }
/*
 * Cover
 */
.cover {
  padding: 0 20px; }
  .cover .btn-lg {
    padding: 10px 20px; }

.cover-heading {
  font-weight: lighter;
  color: palegoldenrod;
  margin-top: 5vh; }

.thsLogo {
  width: 55%;
  border-radius: 100%;
  border: 5px solid black;
  background-color: antiquewhite;
  box-shadow: 0px 0px 0px 11px black inset; }

/*
 * Footer
 */
.mastfoot {
  align-items: baseline;
  width: 100%;
  bottom: 0; }

#loader {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 100%;
  opacity: .6;
  border: 20px solid aqua;
  animation: anim .35s infinite linear;
  box-shadow: 0px 0px 50px 10px aqua; }

video {
  width: 100%; }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1; }

#r6Video {
  z-index: 2;
  border-top: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod; }

.communityInfoWrap, .modInfoWrap {
  width: 97vw;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 5%; }

.communityInfo, .modInfo {
  position: absolute;
  background-color: black;
  z-index: 1;
  width: inherit;
  color: palegoldenrod;
  opacity: .7; }

section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 90vh;
  padding-top: 10px; }

.bg {
  background-color: #282828; }

.two > .wrapper, .two > .discWrapper, .two > .modWrapper, .two > .whyWrapper {
  top: 1vh; }

.fa {
  font-size: 4em !important;
  border: 1px solid darkgoldenrod;
  border-radius: 100%;
  padding: 60px;
  color: palegoldenrod; }

.fab {
  font-size: 6em;
  border: 1px solid black;
  border-radius: 100%;
  padding: 25px;
  background: -webkit-radial-gradient(circle farthest-corner, #a0abca, #617ed1);
  box-shadow: 7px 5px 9px black; }

.discWrapper {
  top: 30% !important; }

.fa-handshake-o {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 52px;
  padding-right: 52px;
  font-size: 3.6em !important; }

.content, .communitiesContent {
  height: 100%;
  z-index: 1; }

.modImg {
  z-index: 2;
  width: 40vw;
  height: 40vw;
  border: 2px solid black; }

.modText {
  width: 40vw;
  height: auto;
  font-size: 8px; }

.modContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  z-index: 1;
  align-items: center; }

.modInfoWrap {
  width: 42vw !important; }

.modWrapper {
  position: static !important; }

.modInfo {
  background-color: #282828 !important;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center; }

p {
  padding: 5%; }

.contentOne {
  display: flex;
  align-items: center;
  opacity: .2; }

.wrapper, .discWrapper, .modWrapper, .whyWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  clip: rect(auto auto auto auto);
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 8vh; }

.headerTop, .banner {
  font-size: 3.5em;
  font-style: normal;
  font-weight: 100;
  color: darkgoldenrod; }

.banner {
  font-size: 7.6em; }

.whyWrapper {
  flex-wrap: wrap;
  position: static; }

.nav, .mastfoot {
  z-index: 2;
  padding: 10px;
  border-bottom: 1px solid palegoldenrod;
  position: fixed;
  background-color: black;
  width: 100%;
  clip: rect(auto auto auto auto);
  display: flex;
  justify-content: center; }
  .nav ul, .mastfoot ul {
    border-bottom: 1px solid rgba(197, 190, 50, 0.52); }

@keyframes anim {
  0% {
    opacity: 0.0;
    width: 0vmin;
    height: 0vmin; }
  10% {
    opacity: 0.2; }
  100% {
    opacity: 0.0;
    width: 100vmin;
    height: 100vmin; } }
/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 0; }

  /* Start the vertical centering */
  /* Handle the widths */
  .masthead, .mastfoot, .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */ } }
@media (min-width: 992px) {
  body {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif; }

  .thsLogo {
    width: 200px; } }

/*# sourceMappingURL=App.css.map */
