.contentWrapper {
  width: 98vw;
  display: inline-block;
  border-left: 1px solid gold;
  border-right: 1px solid gold;
  border-top: 1px solid gold; }

.fade-enter {
  opacity: 0; }

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in; }

.fade-exit {
  opacity: 0; }

.fade-exit-active {
  opacity: 1;
  transition: opacity 450ms ease-in; }

span {
  color: #F86534; }

/* Custom default button */
/*
 * Base structure
 */
html {
  height: auto;
  background-color: #333; }

body {
  background-color: #333;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  height: auto; }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100vw;
  height: auto;
  /* For at least Firefox */
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  z-index: 0; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

/* Padding for spacing */
/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px; }

.masthead-nav > li {
  display: inline-block; }
  .masthead-nav > li + li {
    margin-left: 20px; }
  .masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    border-bottom: 2px solid transparent; }

@media (min-width: 768px) {
  .masthead-brand {
    float: left; }

  .masthead-nav {
    float: right; } }
/*
 * Cover
 */
.cover {
  padding: 0 20px; }
  .cover .btn-lg {
    padding: 10px 20px; }

.cover-heading {
  font-weight: lighter;
  color: palegoldenrod;
  margin-top: 5vh; }

.disc {
  padding-bottom: 6vh; }

.thsLogo {
  width: 55%;
  border-radius: 100%;
  border: 5px solid black;
  background-color: antiquewhite;
  box-shadow: 11px 2px 43px -1px black; }

/*
 * Footer
 */
.mastfoot {
  align-items: baseline;
  width: 100%;
  bottom: 0; }

.awnLogo {
  width: 22px; }

#loader {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  border-radius: 100%;
  /* opacity: 1; */
  background-color: transparent;
  -webkit-animation: anim 1s linear infinite 1s;
  animation: anim 1s infinite linear;
  height: 100vh;
  position: fixed; }

@keyframes anim {
  0% {
    width: 0vmin;
    height: 0vmin; }
  10% {
    opacity: 1; }
  100% {
    opacity: 0.0;
    width: 100vmin;
    height: 100vmin; }
  0% {
    box-shadow: 0 0 8px palegoldenrod, inset 0 0 28px palegoldenrod; }
  50% {
    box-shadow: 0 0 16px palegoldenrod, inset 0 0 34px palegoldenrod; }
  100% {
    box-shadow: 0 0 8px palegoldenrod, inset 0 0 8px palegoldenrod; } }
video {
  width: 100%; }

#myVideo {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
  z-index: -1; }

#r6Video {
  z-index: 2;
  border-top: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;
  box-shadow: 0px 9px 24px black; }

.communityInfoWrap, .modInfoWrap {
  width: 97vw;
  height: fit-content;
  display: flex;
  align-items: center;
  margin-bottom: 5%; }

.communityInfo, .modInfo {
  position: absolute;
  background-color: black;
  z-index: 1;
  width: inherit;
  color: palegoldenrod;
  opacity: .7; }

section {
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 90vh;
  padding-top: 10px; }

.bg {
  background-color: #282828; }

.two > .wrapper, .two > .discWrapper, .two > .modWrapper, .two > .whyWrapper {
  top: 1vh; }

.fa {
  font-size: 4em !important;
  border: 1px solid darkgoldenrod;
  border-radius: 100%;
  padding: 60px;
  color: palegoldenrod; }

.fab {
  font-size: 6em;
  border: 2px solid black;
  border-radius: 100%;
  padding: 25px;
  background: -webkit-radial-gradient(circle farthest-corner, #c3c8d7, #4767c0);
  box-shadow: 1px 3px 45px 3px black inset;
  transition: box-shadow .05s ease-in; }
  .fab:hover {
    box-shadow: 29px 21px 49px -10px black inset; }

.fa-handshake-o {
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 52px;
  padding-right: 52px;
  font-size: 3.6em !important; }

.content, .communitiesContent {
  height: 100%;
  z-index: 1; }

.modImg {
  z-index: 2;
  width: 40vw;
  height: 40vw;
  border: 2px solid black;
  box-shadow: 3px 8px 17px black; }

.modText {
  width: 40vw;
  height: auto;
  font-size: 60%; }

.animated p {
  font-weight: lighter; }

.modContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  z-index: 1;
  align-items: center; }

.modInfoWrap {
  width: 42vw !important; }

.modWrapper {
  position: static !important;
  padding-bottom: 6vh;
  padding-top: 0; }

.modInfo {
  background-color: #282828 !important;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity .3s ease-in; }
  .modInfo:hover {
    opacity: 1; }

p {
  padding: 5%; }

.contentOne {
  display: flex;
  align-items: center;
  opacity: .2; }

.wrapper, .discWrapper, .modWrapper, .whyWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  clip: rect(auto auto auto auto);
  position: absolute;
  font-family: 'Work Sans', sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 8vh; }

.headerTop, .banner {
  font-size: 3.5em;
  font-style: normal;
  font-weight: 100;
  color: darkgoldenrod; }

.banner {
  font-size: 7.6em; }

.whyWrapper {
  flex-wrap: wrap;
  position: static; }

.nav, .mastfoot {
  z-index: 2;
  padding: 10px;
  border-bottom: 1px solid palegoldenrod;
  position: fixed;
  background-color: black;
  width: 100%;
  clip: rect(auto auto auto auto);
  display: flex;
  justify-content: center; }
  .nav li a, .mastfoot li a {
    color: goldenrod;
    display: inline-block;
    margin: 0;
    background-color: black !important; }
  .nav li a::before, .mastfoot li a::before, .nav li a::after, .mastfoot li a::after {
    content: '';
    display: block;
    width: auto;
    position: relative;
    background-color: #F86534;
    height: 1px;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out; }
  .nav li a:hover::before, .mastfoot li a:hover::before, .nav li a:hover::after, .mastfoot li a:hover::after {
    transform: scaleX(1); }

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    top: 0; }

  /* Start the vertical centering */
  /* Handle the widths */
  .masthead, .mastfoot, .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */ } }
@media (min-width: 992px) {
  body {
    margin: 0;
    font-family: 'Julius Sans One', sans-serif; }

  .thsLogo {
    width: 200px; }

  .headerTop, .banner {
    font-size: 8.5em; }

  .modImg {
    width: 25vw;
    height: 25vw; }

  .modInfo {
    width: 25vw; }

  .modInfoWrap {
    width: 26vw !important; }

  .modText {
    width: 25vw;
    font-size: 1em; }

  p {
    font-size: 2em; }

  h1 {
    font-size: 4em; }

  .communityInfoWrap, .modInfoWrap {
    width: 75vw; }

  .fab {
    font-size: 10em; }

  .bannerTxt h1 {
    font-size: 15.5em; }
  .bannerTxt h4 {
    font-size: 2.5em; } }

/*# sourceMappingURL=App.css.map */
