$ths-orange:#F86534;

.fade-enter{
  opacity: 0;
}
.fade-enter-active{
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.fade-exit{
  opacity: 0

}
.fade-exit-active{
  opacity: 1;
  transition: opacity 450ms ease-in;

}

span{
  color: $ths-orange;
}


a {
  color: #fff;
  &:focus, &:hover {
    color: #fff;
  }
}

/* Custom default button */

.btn-default {
  color: #333;
  text-shadow: none;
  /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
  &:hover, &:focus {
    color: #333;
    text-shadow: none;
    /* Prevent inheritance from `body` */
    background-color: #fff;
    border: 1px solid #fff;
  }
}

/*
 * Base structure
 */

html {
  height: auto;
  background-color: #333;

}

body {
  background-color: #333;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  height: auto;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */

.site-wrapper {
  display: table;
  width: 100vw;
  height: auto;
  /* For at least Firefox */
  -webkit-box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5);
  z-index: 0;
}


.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */



/*
 * Header
 */

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > {
  li {
    display: inline-block;
    + li {
      margin-left: 20px;
    }
    > a {
      padding-right: 0;
      padding-left: 0;
      font-size: 16px;
      color: #fff;
      /* IE8 proofing */
      color: rgba(255, 255, 255, 0.75);
      border-bottom: 2px solid transparent;
      &:hover, &:focus {
        border-bottom-color: #a9a9a9;
        border-bottom-color: rgba(255, 255, 255, 0.25);
        font-family: 'Julius Sans One', sans-serif;


      }
    }
  }
  .active > a {
    color: #fff;
    border-bottom-color: #fff;
    &:hover, &:focus {
      color: #fff;
      border-bottom-color: #fff;
    }
  }
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}

/*
 * Cover
 */

.cover {
  padding: 0 20px;
  .btn-lg {
    padding: 10px 20px;
  }
}

.cover-heading{
      font-weight: lighter;
      color: palegoldenrod;
}

.thsLogo{
  width: 55%;
  border-radius: 100%;
  border: 5px solid black;
  background-color: antiquewhite;
  box-shadow: 0px 0px 0px 11px black inset;
}






/*
 * Footer
 */

.mastfoot {
  @extend .nav;
  align-items: baseline;
  width: 100%;
  bottom: 0;
}

#loader {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0px;
  height: 0px;
  border-radius: 100%;
  opacity: .6;
  border: 20px solid aqua;
  animation: anim .35s infinite linear;
  box-shadow: 0px 0px 50px 10px aqua;

}
video{
  width: 100%;
  // height: 100%;
}

#myVideo {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}
#r6Video{
  z-index: 2;
  border-top: 1px solid goldenrod;
  border-bottom: 1px solid goldenrod;

}

.communityInfoWrap{
  width: 97vw;
height: fit-content;
display: flex;
align-items: center;
margin-bottom: 5%;

}
.communityInfo{
  position: absolute;
background-color: black;
z-index: 1;
width: inherit;
color: palegoldenrod;
opacity: .7;
}


section{
  background-repeat: no-repeat;
  background-size: cover;
  // Reset stacking context
  // isolation: isolate;
  // Must be set to correctly position .wrapper below
  position: relative;
  // Height not required. Can be left as auto
  min-height: 90vh ;

}

.bg{
 background-color: #282828;

}

.fa{
  font-size: 4em !important;
  border: 1px solid darkgoldenrod;
  border-radius: 100%;
  padding: 20px;
    color: palegoldenrod;
}

.fab{
  font-size: 6em;
     border: 1px solid black;
    border-radius: 100%;
    padding: 25px;
    background: -webkit-radial-gradient(circle farthest-corner,#a0abca,#617ed1);
    box-shadow: 7px 5px 9px black;
}

.discWrapper{
  @extend .wrapper;
  top: 30% !important;
}
.fa-handshake-o{
  padding-top: 25px;
  padding-bottom: 25px;
  font-size: 3.6em !important;
}
.content{

height: 100%;
z-index: 1;
}
.communitiesContent{
  @extend .content;

}

p{
  padding: 5%;
}

.contentOne{
  display: flex;
  align-items: center;
opacity: .2;
}
.contentWrapper{
  padding-top: 12%;
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  // Hides box (&:before) outside of section
  clip: rect(auto auto auto auto);
  // Clip works only on positions absolute or fixed
  position: absolute;
  font-family: 'Work Sans', sans-serif;

  // Stretch to fill entire section
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}

.bannerTxt>h1{
  font-size: 110px;
  font-style: normal;
  font-weight: 100;
  color: darkgoldenrod;
}

.whyWrapper{
  @extend .wrapper;
  flex-wrap: wrap;
  position: static;
}

.communitiesTxt>h1{
  font-size: 3.5em;
  font-style: normal;
  font-weight: 100;
  color: darkgoldenrod;
}

.nav{
  z-index: 2;
  padding: 10px;
  border-bottom: 1px solid palegoldenrod;
  position: fixed;
    background-color: black;
    width: 100%;
    clip: rect(auto auto auto auto);
    display: flex;
    justify-content: center;

    ul{
      border-bottom: 1px solid rgba(197, 190, 50, 0.52);
    }

}



@keyframes anim {
  0% {
    opacity: 0.0;
    width: 0vmin;
    height: 0vmin;
  }

  10% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.0;
    width: 100vmin;
    height: 100vmin;
  }
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    // position: fixed;
    top: 0;
  }
  .mastfoot {
    // position: fixed;
  }
  /* Start the vertical centering */
  // .site-wrapper-inner {
  //   vertical-align: bottom;
  // }
  /* Handle the widths */
  .masthead, .mastfoot, .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  body{
    margin: 0;
    font-family: 'Julius Sans One', sans-serif;

  }
  .masthead, .mastfoot, .cover-container {
  }
  .thsLogo{
    width: 200px;

  }


}
